<h1>Harsh Rohila</h1>

<h2>Skill Highlights</h2>
<ul>
  <li>Ember.js</li>
  <li>JavaScript</li>
  <li>Cordova (corber)</li>
  <li>Java 8</li>
  <li>Jenkins</li>
  <li>C/C++</li>
  <li>Spring Boot</li>
</ul>

<h2>Work Experience</h2>
<ol>
  <li>
      <app-work-exp-item
        jobTitle="Software Engineer"
        orgName="Trimble Information Technologies India Pvt. Ltd., Pune"
        desc="Working as a front-end developer, of a hybrid mobile application. <br>
        <strong>Technologies:</strong> Ember.js, cordova, AWS lambda, Micronaut, MySQL">
      </app-work-exp-item>
    <div>
        <h3>Software Engineer</h3>
        <h4>Trimble Information Technologies India Pvt. Ltd., Pune</h4>
        <p>
          Working as a front-end developer, of a hybrid mobile application. <br>
          <strong>Technologies:</strong> Ember.js, cordova, AWS lambda, Micronaut, MySQL
        </p>
    </div>
  </li>
  <li>
    <div>
        <h3>Graduate Technical Intern</h3>
        <h4>Trimble Information Technologies India Pvt. Ltd., Pune</h4>
        <p>
            Worked on an automation application, using <strong>Spring Boot</strong>.
            This application interacts with Bitbucket, Jira and writes data in a google sheet.
        </p>
    </div>
  </li>
</ol>
